#page1_jPanel1{
  background: url(../images/jloginbg03.jpg) repeat;
}

#page1_jPanel2{
  min-height: 50px;
}

#page1_jLabel1{
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
}

#page1_jPanel3{
  min-height: 50px;
}

#page1_jPanel4{
  width: 75%;
}

#page20_jPanel1{
  background: #0080C0;
}

#page20_jLabel4{
  font-size: 14px;
}

#page20_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page20_jPanel16{
  width: 90%;
}

#page2_jPanel1{
  background: #0080C0;
}

#page2_jNavigation2,#page2_jNavigation2 .mui-control-item,#page2_jNavigation2,#page2_jNavigation2 .vj-tablecell{
  border-color: #000000;
}

#page2_jNavigation2{
  background-color: #FFFFFF;
}

#page2_jNavigation2 .mui-control-item,#page2_jNavigation2 .vj-tablecell{
  color: #000000;
}

#page2_jNavigation2 a.mui-control-item.mui-active,#page2_jNavigation2 a.vj-tablecell.mui-active{
  background-color: rgba(255,255,255,0);
  color: #00E9FF;
  border-color: #00E9FF;
}

#page2_jNavigation2 .mui-control-item .mui-icon,#page2_jNavigation2 .mui-control-item .mui-icon-extra,#page2_jNavigation2 .vj-tablecell .mui-icon,#page2_jNavigation2 .vj-tablecell .mui-icon-extra{
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

#page2_jNavigation2 .mui-control-item.mui-active .mui-icon,#page2_jNavigation2 .mui-control-item.mui-active .mui-icon-extra,#page2_jNavigation2 .vj-tablecell.mui-active .mui-icon,#page2_jNavigation2 .vj-tablecell.mui-active .mui-icon-extra{
  color: #fff;
  background-color: #00E9FF;
  border-color: #00E9FF;
}

#page2_jNavigation2_item1.mui-control-item .mui-icon-extra,#page2_jNavigation2_item1.mui-control-item .mui-icon,#page2_jNavigation2_item1.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item1.vj-tablecell .mui-icon{
  border-color: #00AEEB;
}

#page2_jNavigation2_item2.mui-control-item .mui-icon-extra,#page2_jNavigation2_item2.mui-control-item .mui-icon,#page2_jNavigation2_item2.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item2.vj-tablecell .mui-icon{
  border-color: #9D6EE5;
}

#page2_jNavigation2_item3.mui-control-item .mui-icon-extra,#page2_jNavigation2_item3.mui-control-item .mui-icon,#page2_jNavigation2_item3.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item3.vj-tablecell .mui-icon{
  border-color: #00C293;
}

#page2_jNavigation2_item4.mui-control-item .mui-icon-extra,#page2_jNavigation2_item4.mui-control-item .mui-icon,#page2_jNavigation2_item4.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item4.vj-tablecell .mui-icon{
  border-color: #FF5290;
}

#page2_jNavigation2_item1.mui-control-item .mui-icon-extra,#page2_jNavigation2_item1.mui-control-item .mui-icon,#page2_jNavigation2_item1.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item1.vj-tablecell .mui-icon{
  background-color: #00AEEB;
}

#page2_jNavigation2_item2.mui-control-item .mui-icon-extra,#page2_jNavigation2_item2.mui-control-item .mui-icon,#page2_jNavigation2_item2.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item2.vj-tablecell .mui-icon{
  background-color: #9D6EE5;
}

#page2_jNavigation2_item3.mui-control-item .mui-icon-extra,#page2_jNavigation2_item3.mui-control-item .mui-icon,#page2_jNavigation2_item3.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item3.vj-tablecell .mui-icon{
  background-color: #00C293;
}

#page2_jNavigation2_item4.mui-control-item .mui-icon-extra,#page2_jNavigation2_item4.mui-control-item .mui-icon,#page2_jNavigation2_item4.vj-tablecell .mui-icon-extra,#page2_jNavigation2_item4.vj-tablecell .mui-icon{
  background-color: #FF5290;
}

#page3_jPanel1{
  background: #0080C0;
}

#page3_jLabel7{
  font-size: 14px;
}

#page3_jLabel5{
  font-size: 14px;
}

#page4_jPanel1{
  background: #0080C0;
}

#page4_jLabel6{
  font-size: 16px;
}

#page4_jLabel26{
  font-size: 16px;
}

#page5_jPanel1{
  background: #0080C0;
}

#page5_jLabel4{
  font-size: 14px;
}

#page5_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page5_jPanel16{
  width: 90%;
}

#page6_jPanel1{
  background: #0080C0;
}

#page6_jLabel4{
  font-size: 14px;
}

#page6_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page6_jPanel16{
  width: 90%;
}

#page8_jPanel1{
  background: #0080C0;
}

#page8_jLabel6{
  font-size: 16px;
}

#page8_jLabel26{
  font-size: 16px;
}

#page9_jPanel1{
  background: #0080C0;
}

#page9_jLabel4{
  font-size: 14px;
}

#page9_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page9_jPanel16{
  width: 90%;
}

#page10_jPanel1{
  background: #0080C0;
}

#page10_jLabel4{
  font-size: 14px;
}

#page10_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page10_jPanel16{
  width: 90%;
}

#page12_jPanel1{
  background: #0080C0;
}

#page12_jLabel5{
  font-size: 14px;
}

#page13_jPanel1{
  background: #0080C0;
}

#page13_jLabel7{
  font-size: 14px;
}

#page13_jLabel5{
  font-size: 14px;
}

#page14_jPanel1{
  background: #0080C0;
}

#page14_jLabel4{
  font-size: 14px;
}

#page14_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page14_jPanel16{
  width: 90%;
}

#page15_jPanel1{
  background: #0080C0;
}

#page15_jLabel4{
  font-size: 14px;
}

#page15_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page15_jPanel16{
  width: 90%;
}

#page16_jPanel1{
  background: #0080C0;
}

#page16_jLabel5{
  font-size: 14px;
}

#page17_jPanel1{
  background: #0080C0;
}

#page17_jLabel7{
  font-size: 14px;
}

#page17_jLabel5{
  font-size: 14px;
}

#page18_jPanel1{
  background: #0080C0;
}

#page18_jLabel4{
  font-size: 14px;
}

#page18_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page18_jPanel16{
  width: 90%;
}

#page19_jPanel1{
  background: #0080C0;
}

#page19_jLabel4{
  font-size: 14px;
}

#page19_jPanel14{
  background: #FFFFFF;
  min-height: 66px;
}

#page19_jPanel16{
  width: 90%;
}

#page21_jPanel1{
  background: #0080C0;
}

#page22_jPanel1{
  background: #0080C0;
}

#page23_jPanel1{
  background: #0080C0;
}

